.car {
    max-width: 580px;
    width: 100%;
    margin-left: 315px;
  }
  @media screen and (max-width: 1200px) {
    .car {
      max-width: 800px;
      width: 100%;
      margin-left: 130px;
    }
  }
  @media screen and (max-width: 1040px) {
    .car {
      max-width: 700px;
      width: 100%;
      margin-left: 130px;
    }
  }
  @media screen and (max-width: 992px) {
    .car {
      max-width: 580px;
      width: 100%;
      margin-left: 125px;
    }
  }
  @media screen and (max-width: 768px) {
    .title_api {
      font-size: 20px;
    }
    .car {
      max-width: 367px;
      width: 100%;
      margin-left: 125px;
    }
  }
  @media screen and (max-width: 576px) {
      .car {
        max-width: 280px;
        width: 100%;
        margin-left: 60px;
      }
    }


    .con-m {
      display: flex;
      flex-direction: column;
      width: 100%;
      
    }

    @media screen and (max-width: 1338px) {
      .con-m {
        max-width: 75%;
      }
    }

    @media screen and (max-width: 570px) {
      .con-m {
        width: 400px;
      }
    }