.site {
  position: fixed;
  right: 36px;
  border-left: 1px solid #d8d8d8;
  background: white;
}
@media screen and (max-width: 1200px) {
  .site {
    display: none;
  }
}
.right {
  padding-left: 28px;
  margin-top: 30px;
}
.right__input {
  position: fixed;
  border: none;
  padding: 15px 64px;
  outline: none;
  display: block;
  background: #eff3f4;
  border-radius: 31px;
  max-width: 373px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #5c6c79;
}
.right__search {
  position: absolute;
  top: 20px;
  left: 20px;
}
.right__text {
  margin-top: 40px;
  background: #f7f9f9;
  border-radius: 10px;
  padding: 20px 15px;
}
.right .tren__title {
  padding-right: 151px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.right .treng {
  padding-top: 20px;
}
.right .treng__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-right: 177px;
  color: #393b41;
  opacity: 0.6;
}
.right__relo--title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 0;
}
.right__relo--leni {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #393b41;
  opacity: 0.6;
}
.right__relo--btn {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #1da1f2;
}
.right__tems--text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #536471;
}
.follow {
  background: #f7f9f9;
  border-radius: 10px;
  padding: 20px 15px;
}
.follow__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.obuna__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 13px;
}
.obuna__leni {
  padding-left: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}
.obuna__btn {
  font-style: normal;
  margin-left: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 10px 18px;
  background: #000000;
  border-radius: 50px;
  color: #ffffff;
}
